body {
  margin: 0 !important;
}

.banner {
  height: 865px;
  background-image: url("banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.banner .about-signin {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-signin .sign-in, .banner .about-signin .aboutus {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  padding: 7px 20px;
  text-transform: uppercase;
}
.banner .about-signin .sign-in {
  margin-right: 60px;
  margin-left: 20px;
  border-radius: 30px;
  border: 1px solid green;
  color: green;
}
.banner .logo {
  margin-top: 150px;
  height: 100px;
  background-image: url("./hapoERP.png");
  background-position: center;
  background-repeat: no-repeat;
}
.banner .items {
  margin-top: 50px;
  padding: 12px 0 32px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.banner .items .item1 {
  text-align: center;
}
.banner .items .item2 {
  text-align: center;
}
.banner .items .item3 {
  text-align: center;
}
.banner .items img {
  height: 50px;
  width: 50px;
}
.banner .items span {
  display: block;
  font-size: 30px;
}
.banner .text {
  text-align: center;
}
.banner .text span {
  font-size: 17px;
  font-style: italic;
  color: green;
}
.banner .btn {
  text-align: center;
}
.banner .btn button {
  text-transform: uppercase;
  margin-top: 80px;
  padding: 10px 15px;
  border: 1px solid green;
  border-radius: 20px;
  cursor: pointer;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.yellow {
  border: 1px solid yellow;
}
